#name {
font-family: "Times New Roman";
position: relative;
text-align: center;
top: 110px;
color: #0000FF;
font-size: 200%;
}

[id^="nameAnimate"]{
position: relative;
opacity: 0.0;
}

span.page{
display: table-cell;
vertical-align: middle;
opacity: 1.0;
}

h3.articleTitle{
display: block;
font-size: 150%;

}

[class^="articleOnPage"] {
text-align: center;
width: 50%;
opacity: 1.0;
margin-left: auto;
margin-right: auto;
min-width: 200px;
display:none;
padding: 10px;
font-size: 100%;
}

div.boarder{
background-image: url("http://ugkk8c1b14e5.gr3gmcl3an.koding.io/CMS-2.0/Presentation/images/bg.jpg");
background-size:cover;
padding-bottom: 50px;

}


div.noHilight{
border: 2px solid black;
background-color: White ;

height: 50px;
width: 50%;
min-width: 200px;
text-align: center;
display: table;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
opacity: 0.0;

}



div.highlight{
background-color: DodgerBlue   ;


}

div.lowHighlight{
    background-color: DeepSkyBlue  ;
}


/* start sticky footer 
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  
  margin-bottom: -25px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 25px; 
}
.site-footer {
  background: Green;
  border: 5px solid black;
  text-align: center;
}

 end sticky footer */
 
 div.page-wrap{
     position: relative;
     top: -25px;
 }
 
 footer{
background: White;
  border: 5px solid black;
  text-align: center; 
 position: fixed;
  border-radius: 25px;
  width: 100%;
  height: 25px;
  

  left: 0%;
 
  margin-left: -100px;
 }