#name {
font-family: "Times New Roman";
font-size: 20px;
position: relative;
text-align: center;
top: 110px;
}

span{
position: relative;
opacity: 0.0;
}

span.page{
display: table-cell;
vertical-align: middle;
opacity: 1.0;
}

div.article{
text-align: center;

width: 50%;
opacity: 1.0;

min-width: 200px;
}

div{
height: 100px;
width: 50%;
min-width: 200px;
text-align: center;
display: table;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
opacity: 0.0;
}


div.noHighlight{
border: 2px solid black;
background-color: White ;
}


div.highlight{
background-color: LightGrey ;

}

